<!DOCTYPE html>
<html lang="en"> <!--lang eh um atributo-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5"
    >
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-save-success.css">

    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

    <script src="/scripts/autoRedirect.js" defer></script>
</head>
<body id=page-save-success>

    <div id="container">
        <div class="background">
            <img src="/images/success-background.svg" alt="Background sucesso">
        </div>
        
        <div class="success-message">
            <h1>Proffy cadastrado com sucesso!</h1>
        </div>

    </div>


    
</body>
</html>